server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  # Bảo Promtail "đẩy" log đến service tên là "loki"
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: pettopia-docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        # filters:
        #   # Chỉ lấy log từ các container trong mạng 'pettopia-network'
        #   # (Tên này lấy từ file docker-compose.yml của bạn)
        #   - name: network
        #     values: [backend_pettopia-network]
    relabel_configs:
      # Lấy tên container làm nhãn 'job' để dễ lọc trong Grafana
      - source_labels: ["__meta_docker_container_name"]
        regex: "/(.*)"
        target_label: "job"
