# Tên của luồng công việc (hiển thị trên tab Actions)
name: Build and Push Customer Service

# 1. KHI NÀO CHẠY?
on:
  workflow_dispatch: {}
  push:
    branches:
      - main # Chạy khi push lên nhánh 'main'
    paths:
      # Chỉ chạy khi có thay đổi trong thư mục 'auth-service'
      - "backend/apps/customer-service/**"

# 2. LÀM CÔNG VIỆC GÌ?
jobs:
  build-and-push:
    # 3. CHẠY TRÊN MÁY NÀO?
    # Dùng máy ảo Ubuntu mới nhất của GitHub
    runs-on: ubuntu-latest

    # 4. CÁC BƯỚC THỰC HIỆN
    steps:
      # Bước 1: Lấy code (Checkout)
      # Tải code từ repo về máy ảo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Bước 2: Đăng nhập vào Docker Hub
      # Dùng 2 "Chìa Khóa" (Secret) bạn đã tạo
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Bước 3: Build và Đẩy (Push) Image
      # Đây là bước quan trọng nhất
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          # Context: Đường dẫn đến thư mục chứa Dockerfile,
          # tính từ gốc của repo.
          context: ./backend/apps/customer-service

          # File: Tên của Dockerfile (nếu tên là 'Dockerfile' thì dòng này không cần)
          file: ./backend/apps/customer-service/Dockerfile

          # Đẩy image này lên Docker Hub
          push: true

          # Gắn "nhãn" (tag) cho image
          # Nó sẽ lấy tên user của bạn từ Secret
          # Tên image: khacduy0704/pettopia-auth-service:latest
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pettopia-customer-service:latest
